#################
## Misc

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings
local.properties
.loadpath
.DB_Store

## Maven stuff

target/
/workspace/

## Eclipse configs

.project
.classpath
.settings/
.metadata

## test

testd
