#################
## Misc

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings
local.properties
.loadpath

## Maven stuff

target/
/workspace/

## Eclipse configs

.project
.classpath
.settings/
.metadata

## test

testd
tests/unit-test/logs/

## E2E test

tests/e2e/target/
tests/e2e/e2e-test.properties

## Mac
.DS_Store
